<%# Enlace para volver %>
<%= link_to productos_path do %>
  <h1 style="text-align: center;">Guns-Shop</h1>
<% end %>

<%=link_to t('.add'), new_producto_path%>
<%=link_to t('.categories'), categories_path%>