<h1 class="edit">Editar Producto</h1>


<%= render 'form' %>

<%# Estamos aplicando el principio DRY (Don’t Repeat Yourself) y %> 
<%# reutilizando la vista form para crear y editar productos. %>
<%# Esto hace que evitemos repetir código y que si en un futuro %>
<%# queremos modificar el formulario, solo tendremos que hacerlo %>
<%# en un solo lugar. %>

<style>
.edit{
   text-align: center;
}


</style>
