<h1>Lista de Productos:</h1>
<br>
<h2>Numero de productos en la Base de Datos:</h2>
<%= @productos.count %>
<br>
<% @productos.each do |producto| %>
   <%= link_to producto_path(producto.id), class: 'producto' do %>
   <h3><%= producto.titulo %></h3>
   <span><%= producto.precio %>$</span>
   <% end %>
<% end %>
